{% extends 'core/base.html' %}

{% block title %}{{ page_title }} - SafeCore SST{% endblock %}

{% block content %}
<div class="form-container">
    <h1>{{ page_title }}</h1>
    
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div style="color: red; font-size: 12px; margin-top: 5px;">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salvar</button>
            
            <a href="{% url 'core:listar_cargos' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
